* {
    margin: 0;
}

body {
    /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1F2039;
}

em{
    color: #A5B4FC;
    font-family: em;
}

/* font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Manrope', sans-serif;*/

h1{
    font-size: 3.5em ;
    color : #A5B4FC;
    font-family: 'Montserrat', sans-serif ;
}

h2{
    color: #F9F8FF;
}

p,li{
    font-size: 1.1em;
    font-family: 'Manrope', sans-serif;
    color: #F9F8FF;
}

a{
    text-decoration: none;
    font-size: 1em;
    font-family: 'Manrope', sans-serif;
    color: #242424;
}

a:hover {
    text-decoration: underline;
}

header, footer{
    background-color: white;
    padding: 20px 50px;
}

.lienIcone:hover{
    opacity: 0.5;
}

.cta{
    font-family: 'Montserrat', sans-serif ;
    color: white;
    background: linear-gradient(#8E86B5 , #ACAEED);
    border-radius: 50px 50px 50px 50px;
    padding: 20px 30px;

}
.cta:hover{
    background: linear-gradient(#696484, #8788ba);
    text-decoration: none;
}

section{
    padding: 80px;
}

.LogoRobbieLens{
    display: flex;
    justify-content: flex-start;
}

.lienIcone{
    margin-left: 30px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

footer, nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin-left: 30px;
}

@media screen and (max-width: 996px) {
    header nav {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    header nav img {
      margin-bottom: 20px;
    }
  
    header,
    footer {
      padding: 20px 20px;
    }
  
    h1 {
      font-size: 2em;
    }
  
    section {
      padding: 50px 20px 50px 20px;
    }
  
    nav a {
      margin-left: 10px;
      margin-right: 10px;
    }
  }